@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom colors */
  --color-pricing-blue: #0070f3;
  --color-feature-blue: #093F68;
  --color-backcolor: #080C20;
  --color-paragraph-color: #777F98;
  --color-error-color: #FF2965;
}

@layer base {
  h2 {
    @apply text-[18px] font-extrabold;
  }

  p {
    @apply text-[15px] font-medium text-paragraph-color;
  }
}

@layer components {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080C20;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
