@import "tailwindcss";

:root {
  --background: #080C20;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Custom colors */
  --color-pricing-blue: #0070f3;
  --color-feature-blue: #093F68;
  --color-backcolor: #080C20;
  --color-paragraph-color: #777F98;
  --color-error-color: #FF2965;
}

@layer base {
  h2 {
    @apply text-[1.125rem] font-extrabold;
  }

  p {
    @apply text-[15px] font-medium text-paragraph-color;
  }

  footer {
    background-image: url('/assets/bg-footer-squiggle.svg');
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@layer components {
  .hero-section {
    @apply text-center md:h-[360px] lg:h-[460px];

    @media (min-width: 768px) {
      background-image: url("/assets/illustration-hero-left.svg"), url("/assets/bg-hero-squiggle.svg") ,url("/assets/illustration-hero-right.svg") ;

      background-position: left -3rem top, center , right -4.5rem top ;
      background-repeat: no-repeat, no-repeat, no-repeat;
    }
  

  }
  
  .features-section {
    @apply flex flex-col gap-14 lg:h-[300px] lg:flex-row lg:[&>*:nth-child(even)]:self-end md:[&>*:nth-child(odd)]:ml-14 lg:[&>*:nth-child(odd)]:ml-0;
  }
  .feature-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pricing-list-free {
    list-style-image: url('/assets/icon-check-light.svg');
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .pricing-list-paid {
    list-style-image: url('/assets/icon-check.svg');
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .pricing-heading {
    @apply text-[1.125rem] font-extrabold;
  }
  
  .pricing-cost {
    @apply text-[2.5rem] font-extrabold;
    margin-bottom: 19px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
